<header class="header">
  <nav class="navbar navbar-expand-lg navbar-custom navbar-dark p-0">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mt-0" href="#"><img class="w-75" src="assets/images/logo.png"></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item m-0 " routerLinkActive="active">
            <a class="nav-link p-3" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item m-0" routerLinkActive="active">
            <a class="nav-link p-3" routerLink="/cakes">Cakes</a>
          </li>
          <li class="nav-item m-0">
            <a class="nav-link p-3">Franchise with us</a>
          </li>
          <li class="nav-item m-0" routerLinkActive="active">
            <a class="nav-link p-3" routerLink="/about">About Pirajee’s</a>
          </li>
          <li class="nav-item m-0" routerLinkActive="active">
            <a class="nav-link p-3" routerLink="/account">My Account</a>
          </li>
          <li class="nav-item m-0" routerLinkActive="active">
            <a class="nav-link p-3" routerLink="/contact">Reach out</a>
          </li>
          <li class="nav-item m-0">
            <a class="nav-link p-3 txt-dyellow" href="#"><i class="fa fa-search"></i></a>
          </li>
          <li class="nav-item m-0" routerLinkActive="active">
            <a class="nav-link p-3 txt-dyellow" routerLink="/login"><i class="fa fa-user-o"></i></a>
          </li>
          <li class="nav-item m-0" routerLinkActive="active">
            <a routerLink="/cart" class="nav-link p-3 txt-dyellow" href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
