<footer>
  <div class="bot-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <p style="margin-bottom: 0">@Copyright 2021 Pirajee’s All Rights Reserved 2021</p>
        </div>
        <div class="col-sm-4 text-right">
          <ul class="social">
            <li>
              <a target="_blank" href="#">
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
