<section class="main-banner lg">
  <div class="container">
    <div class="title">
    </div>
  </div>
</section>
<section class=" mt-n-h position-relative mb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-fluid" src="../../assets/images/c1.png">

      </div>
      <div class="col-sm-6">
        <p class="text-white mb-3 h3 mt-100 pt-5">Cake Loreum Ipsum(500 gms)</p>
        <h5>₹342.00</h5>
        <p>Cake Flavor: Flavour Loreum Ipsum<br> Weight: 500 gms <br>Shape: Round <br>Serves: 05 People</p>
        <p class="text-capitalize">Cake Description: Zest the flavours of this delicious cake with your mouth smudged with chocolate. It is a cake that will melt with every bite and will leave you enchanted by its taste. If you are looking for a cake that can heighten the joy of birthday or anniversary, then this cake is a great deal!</p>
        <div class="align-items-center d-flex">
          <div>
            <div class="form-group mr-1">
              <select class="form-control">
                <option selected>411001</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div>
            <a href="#" class="text-success"><u>Delivery Available</u></a>
          </div>
        </div>
        <div class="align-items-center d-flex">
          <div>
            <button routerLink="/cart" class="btn custom-btn mr-1">Add to Cart</button>
          </div>
          <div>
            <button routerLink="/order/1" class="btn custom-btn-sec">Buy Now</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="mt-4">
  <div class="container">
    <h4 class="mt-4">Ratings & Reviews</h4>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <div class="align-items-center d-flex">
          <div class="text-center mr-4">
            <p class="align-items-center d-flex font-weight-light h3 txt-dyellow justify-content-center">3.8 <img src="../../assets/images/star.svg"></p>
            <p class="m-0">1,295 Ratings &<br> 166 Reviews </p>
          </div>
          <div>
            <div class="align-items-center d-flex mb-2">
              <div class="mr-2">
                <img src="../../assets/images/star-5.svg">
              </div>
              <div>
                <p class="m-0">761</p>
              </div>
            </div>
            <div class="align-items-center d-flex mb-2">
              <div class="mr-2">
                <img src="../../assets/images/star-4.svg">
              </div>
              <div>
                <p class="m-0">171</p>
              </div>
            </div>
            <div class="align-items-center d-flex mb-2">
              <div class="mr-2">
                <img src="../../assets/images/star-2.svg">
              </div>
              <div>
                <p class="m-0">145</p>
              </div>
            </div>
            <div class="align-items-center d-flex mb-2">
              <div class="mr-2">
                <img src="../../assets/images/star-1.svg">
              </div>
              <div>
                <p class="m-0">4</p>
              </div>
            </div>
            <div class="align-items-center d-flex mb-2">
              <div class="mr-2">
                <img src="../../assets/images/star-0.svg">
              </div>
              <div>
                <p class="m-0">1</p>
              </div>
            </div>
            <button class="btn custom-btn-sec mt-2 mb-2">Add Feedback</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="review mb-5">
          <div class="align-items-center d-flex ">
            <div class="mr-2">
              <img class="w-100" src="../../assets/images/cut-cake.png">
            </div>
            <div>
              <img class="w-100" src="../../assets/images/cut-cake.png">
            </div>
          </div>
          <div class="align-items-center  justify-content-between d-flex mb-3 mt-2">
            <div>
              <div class="align-items-center d-flex ">
                <div class="mr-2">
                  <img src="../../assets/images/user.png">
                </div>
                <div>
                  <h6 class="m-0">Rajesh kumar Singh</h6>
                </div>
              </div>


            </div>
            <div>
              <img src="../../assets/images/star-2.svg">
            </div>
          </div>
          <p class="text-capitalize">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="review mb-5">
          <div class="align-items-center d-flex ">
            <div class="mr-2">
              <img class="w-100" src="../../assets/images/cut-cake.png">
            </div>
            <div>
              <img class="w-100" src="../../assets/images/cut-cake.png">
            </div>
          </div>
          <div class="align-items-center  justify-content-between d-flex mb-3 mt-2">
            <div>
              <div class="align-items-center d-flex ">
                <div class="mr-2">
                  <img src="../../assets/images/user.png">
                </div>
                <div>
                  <h6 class="m-0">Rajesh kumar Singh</h6>
                </div>
              </div>


            </div>
            <div>
              <img src="../../assets/images/star-4.svg">
            </div>
          </div>
          <p class="text-capitalize">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="review mb-3">
          <div class="align-items-center d-flex ">
            <div class="mr-2">
              <img class="w-100" src="../../assets/images/cut-cake.png">
            </div>
            <div>
              <img class="w-100" src="../../assets/images/cut-cake.png">
            </div>
          </div>
          <div class="align-items-center  justify-content-between d-flex mb-3 mt-2">
            <div>
              <div class="align-items-center d-flex ">
                <div class="mr-2">
                  <img src="../../assets/images/user.png">
                </div>
                <div>
                  <h6 class="m-0">Rajesh kumar Singh</h6>
                </div>
              </div>
            </div>
            <div>
              <img src="../../assets/images/star-5.svg">
            </div>
          </div>
          <p class="text-capitalize">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <hr class="mb-5">
      </div>
    </div>
  </div>

</section>
<section class="lst-banner dark pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center text-center">

      <div class="col-sm-8">
        <div class="mt-3">
          <div>
            <h2>contact us</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Mobile Number/Email">
                </div>
              </div>
            </div>
            <button class="btn custom-btn-black">Submit</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
