<section class="main-banner abt">
  <div class="container">
    <div class="title">
      <h1 class="fa-4x">WE STAND FOR <span class="txt-dyellow">quality</span></h1>
    </div>
  </div>
</section>
<section class="mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-sm-12 text-center">
        <img class="mb-3" src="../../assets/images/logo2.svg">
        <h1 class="mb-4">Our <span class="txt-pink">Story</span></h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <ul class="steps">

          <li class="step">
            <div class="dates">
              <span class="time">&nbsp;</span>
            </div>
            <div class="step-context">
                                <span class="step-heading">
                                    <h2>Story <span class="txt-dyellow">Pointer Ipsum</span></h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </span>
            </div>
          </li>
          <li class="step">
            <div class="dates">
                                <span class="time">
                                    <h2 class="step-heading">Story <span class="txt-dyellow">Pointer Ipsum</span></h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </span>
            </div>
            <div class="step-context">
              &nbsp;
            </div>
          </li>
          <li class="step">
            <div class="dates">
              <span class="time">&nbsp;</span>
            </div>
            <div class="step-context">
                                <span class="step-heading">
                                    <h2>Story <span class="txt-dyellow">Pointer Ipsum</span></h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </span>
            </div>
          </li>
          <li class="step">
            <div class="dates">
                                <span class="time">
                                    <h2 class="step-heading">Story <span class="txt-dyellow">Pointer Ipsum</span></h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </span>
            </div>
            <div class="step-context">
              &nbsp;
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="p-yellow p-5">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-sm-12 text-center">
          <h1 class="mb-5">Our <span class="txt-pink">MANUFACTURING</span></h1>
        </div>
      </div>
      <div class="row mt-3 mb-5">
        <div class="col-sm-4">
          <video width="100%" height="240" poster="./../../assets/images/video-bg.png" controls>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-sm-4">
          <video class="zoom-video" width="100%" height="240" poster="./../../assets/images/video-bg.png" controls>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-sm-4">
          <video width="100%" height="240" poster="./../../assets/images/video-bg.png" controls>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="lst-banner bg-white pt-5 pb-5">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="mb-3">
          <div>
            <h2 class="txt-dyellow">Vision</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text</p>

          </div>

        </div>
        <div class="mb-3">
          <div>
            <h2 class="txt-dyellow">Mission</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley </p>

          </div>

        </div>

      </div>
      <div class="col-sm-6">
        <p class="l-34">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</section>
<section class="lst-banner dark pt-5 pb-5">
  <div class="container">
    <div class="row ">

      <div class="col-sm-12 text-center">

        <div>
          <h2 class="mb-4">Why PeeraJee's</h2>
          <div class="row">
            <div class="col-sm-4">
              <img class="w-100" src="../../assets/images/img1.png">
              <img class="mt-n-h-sm" src="../../assets/images/1%20(1).svg">
            </div>
            <div class="col-sm-4">
              <img class="w-100" src="../../assets/images/img1.png">
              <img class="mt-n-h-sm" src="../../assets/images/1%20(2).svg">
            </div>
            <div class="col-sm-4">
              <img class="w-100" src="../../assets/images/img1.png">
              <img class="mt-n-h-sm" src="../../assets/images/1%20(3).svg">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="lst-banner bg-white pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center text-center">

      <div class="col-sm-6">
        <div class="align-items-center d-flex justify-content-center mt-3">
          <div>
            <h2>newsletter</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="row justify-content-center">
              <div class="col-sm-10">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <button class="btn custom-btn-black">Subscribe</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
