<section class="main-banner">
  <div class="container">
    <div class="title w-50">
      <ol class="stepper">
        <li routerLink="/order/1" class="step current">Sign In</li>
        <li routerLink="/order/2" class="step future">Delivery Details</li>
        <li routerLink="/order/3" class="step future">Payment</li>
        <li routerLink="/order/4" class="step future">Order Review</li>
      </ol>
    </div>
  </div>
</section>
<section class="mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-sm-5">

        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mobile Number/Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="align-items-center d-flex justify-content-between mt-3">
          <div>
            <a href="#" class="text-dark"><u>Forgot Password?</u></a>
          </div>
          <div>
            <button class="btn custom-btn">Sign In</button>
          </div>
        </div>
        <div class="align-items-center d-flex justify-content-between mt-5">
          <div>
            <span>Sign In with:</span>
          </div>
          <div class="d-flex">
            <a href="#" class="align-items-center d-flex img-thumbnail mr-1"><img class="wd-20 mr-1" src="../../assets/images/google.png">Google</a>
            <a href="#" class="align-items-center d-flex img-thumbnail mr-1"><img class="wd-20 mr-1" src="../../assets/images/fb.png">Facebook</a>
            <a href="#" class="align-items-center d-flex img-thumbnail"><img class="wd-20 mr-1" src="../../assets/images/chat.png">OTP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="lst-banner pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-sm-5">
        <div class="align-items-center d-flex justify-content-between mt-3">
          <div>
            <h2>sign up</h2>
            <p>Don’t have an account yet?</p>
          </div>
          <div>
            <button class="btn custom-btn-sec">Sign Up</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
