<section class="main-banner sm">
  <div class="container">
    <div class="title">
    </div>
  </div>
</section>
<section class="mt-n-h-sm position-relative">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-white mb-3">My <span class="txt-dyellow">Account</span></h1>
      </div>
    </div>
  </div>
</section>
<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Address</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class=" border rounded p-3 mt-3">
              <div class="row">
                <div class="col-sm-4">
                  <div class="align-items-center d-flex justify-content-between">
                    <div>
                      <p>Order ID: ER3142</p>
                    </div>
                    <div>
                      <p>Status: <span class="text-success">Delivered</span></p>
                    </div>
                  </div>
                  <div class="align-items-center d-flex justify-content-between">
                    <div>
                      <b>Ramesh Shah</b>
                      <p>Bunglow Number-10<br> Elphiston Road, <br>Next to Bombay Garage, Camp Pune,<br> Maharashtra 411001. India</p>
                    </div>
                    <div>
                      <b>Time/Date:</b>
                      <p>20 July, 2021<br> 12:00 am</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="media ml-5">
                    <img class="mr-3 wd-50 img-fluid rounded" src="../../assets/images/c3.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <div class="align-items-center d-flex justify-content-between">
                        <h6 class="mt-0">Cake Loreum Ipsum(500 gms)</h6>
                      </div>

                      <p class="mb-4">₹342.00</p>
                    </div>
                  </div>
                  <div class="mt-5 pt-2">
                    <a href="#" class="d-flex justify-content-end txt-pink"><u>Details</u></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="bg-light p-3">
                    <p>Status:</p>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="stat pl-2 position-relative">
                          <div class="align-items-center d-flex justify-content-between">
                            <div>
                              <p>Ordered</p>
                            </div>
                            <div>
                              <p>02 July, 2021</p>
                            </div>
                          </div>
                          <div class="align-items-center d-flex justify-content-between">
                            <div>
                              <p>Loreum Ipsum</p>
                            </div>
                            <div>
                              <p>02 July, 2021</p>
                            </div>
                          </div>
                          <div class="align-items-center d-flex justify-content-between">
                            <div>
                              <p>Loreum Ipsum</p>
                            </div>
                            <div>
                              <p>02 July, 2021</p>
                            </div>
                          </div>
                          <div class="align-items-center d-flex justify-content-between">
                            <div>
                              <p class="text-success m-0">Delivered</p>
                            </div>
                            <div>
                              <p class="text-success m-0">02 July, 2021</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <a href="#" class=" text-dark"><u>Download Receipt</u></a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" border rounded p-3 mt-3">
              <div class="row">
                <div class="col-sm-4">
                  <div class="align-items-center d-flex justify-content-between">
                    <div>
                      <p>Order ID: ER3142</p>
                    </div>
                    <div>
                      <p>Status: <span class="text-success">Delivered</span></p>
                    </div>
                  </div>
                  <div class="align-items-center d-flex justify-content-between">
                    <div>
                      <b>Ramesh Shah</b>
                      <p>Bunglow Number-10<br> Elphiston Road, <br>Next to Bombay Garage, Camp Pune,<br> Maharashtra 411001. India</p>
                    </div>
                    <div>
                      <b>Time/Date:</b>
                      <p>20 July, 2021<br> 12:00 am</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="media ml-5">
                    <img class="mr-3 wd-50 img-fluid rounded" src="../../assets/images/c1.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <div class="align-items-center d-flex justify-content-between">
                        <h6 class="mt-0">Cake Loreum Ipsum(500 gms)</h6>
                      </div>

                      <p class="mb-4">₹342.00</p>
                    </div>
                  </div>
                  <div class="mt-5 pt-2">
                    <a href="#" class="d-flex justify-content-end txt-pink"><u>Details</u></a>
                  </div>
                </div>
              </div>
            </div>
            <div class=" border rounded p-3 mt-3">
              <div class="row">
                <div class="col-sm-4">
                  <div class="align-items-center d-flex justify-content-between">
                    <div>
                      <p>Order ID: ER3142</p>
                    </div>
                    <div>
                      <p>Status: <span class="text-success">Delivered</span></p>
                    </div>
                  </div>
                  <div class="align-items-center d-flex justify-content-between">
                    <div>
                      <b>Ramesh Shah</b>
                      <p>Bunglow Number-10<br> Elphiston Road, <br>Next to Bombay Garage, Camp Pune,<br> Maharashtra 411001. India</p>
                    </div>
                    <div>
                      <b>Time/Date:</b>
                      <p>20 July, 2021<br> 12:00 am</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="media ml-5">
                    <img class="mr-3 wd-50 img-fluid rounded" src="../../assets/images/c2.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <div class="align-items-center d-flex justify-content-between">
                        <h6 class="mt-0">Cake Loreum Ipsum(500 gms)</h6>
                      </div>

                      <p class="mb-4">₹342.00</p>
                    </div>
                  </div>
                  <div class="mt-5 pt-2">
                    <a href="#" class="d-flex justify-content-end txt-pink"><u>Details</u></a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mt-3">

              <div class="col-sm-5">

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Mobile Number">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email Address">
                </div>

                <div class="align-items-center d-flex justify-content-end mt-3">
                  <div>
                    <button class="btn custom-btn-black">Update</button>
                  </div>
                </div>
              </div>
            </div>
            <section class="lst-banner pt-5 pb-5 mt-5">
              <div class="container">
                <div class="row">

                  <div class="col-sm-5">
                    <div class="align-items-center d-flex justify-content-between">
                      <div>
                        <p class="m-0">Change Password</p>
                      </div>
                      <div>
                        <button class="btn custom-btn-sec">Change</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </section>

          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row mt-3">
              <div class="col-sm-3">
                <div class="border media mb-2 p-2 rounded d-addr">
                  <div class="media-body">
                    <div class="align-items-center d-flex justify-content-between">
                      <h6 class="mt-0">Ramesh Shah</h6>
                      <a href="#" class="pl-2 pr-2 pt-1 text-dark"><i class="fa fa-ellipsis-v"></i></a>
                    </div>

                    <p class="m-0">Bunglow Number-10 Elphiston Road, Next to Bombay Garage, Camp Pune, Maharashtra 411001. India</p>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border media mb-2 p-2 rounded d-addr">
                  <div class="media-body">
                    <div class="align-items-center d-flex justify-content-between">
                      <h6 class="mt-0">Ramesh Shah</h6>
                      <a href="#" class="pl-2 pr-2 pt-1 text-dark"><i class="fa fa-ellipsis-v"></i></a>
                    </div>

                    <p class="m-0">Bunglow Number-10 Elphiston Road, Next to Bombay Garage, Camp Pune, Maharashtra 411001. India</p>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border media mb-2 p-2 rounded d-addr">
                  <div class="media-body">
                    <div class="align-items-center d-flex justify-content-between">
                      <h6 class="mt-0">Ramesh Shah</h6>
                      <a href="#" class="pl-2 pr-2 pt-1 text-dark"><i class="fa fa-ellipsis-v"></i></a>
                    </div>

                    <p class="m-0">Bunglow Number-10 Elphiston Road, Next to Bombay Garage, Camp Pune, Maharashtra 411001. India</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-3">
                <div class="border media mb-2 p-2 rounded d-addr">
                  <div class="media-body">
                    <div class="align-items-center d-flex justify-content-between">
                      <h6 class="mt-0">Ramesh Shah</h6>
                      <a href="#" class="pl-2 pr-2 pt-1 text-dark"><i class="fa fa-ellipsis-v"></i></a>
                    </div>

                    <p class="m-0">Bunglow Number-10 Elphiston Road, Next to Bombay Garage, Camp Pune, Maharashtra 411001. India</p>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border media mb-2 p-2 rounded d-addr">
                  <div class="media-body">
                    <div class="align-items-center d-flex justify-content-between">
                      <h6 class="mt-0">Ramesh Shah</h6>
                      <a href="#" class="pl-2 pr-2 pt-1 text-dark"><i class="fa fa-ellipsis-v"></i></a>
                    </div>

                    <p class="m-0">Bunglow Number-10 Elphiston Road, Next to Bombay Garage, Camp Pune, Maharashtra 411001. India</p>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="border media mb-2 p-2 rounded d-addr">
                  <div class="media-body">
                    <div class="align-items-center d-flex justify-content-between">
                      <h6 class="mt-0">Ramesh Shah</h6>
                      <a href="#" class="pl-2 pr-2 pt-1 text-dark"><i class="fa fa-ellipsis-v"></i></a>
                    </div>

                    <p class="m-0">Bunglow Number-10 Elphiston Road, Next to Bombay Garage, Camp Pune, Maharashtra 411001. India</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn custom-btn-sec mb-4 mt-2">Add New address</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
