<section class="main-banner home mb-5">
  <div class="container">
    <div class="title">
      <h1 class="fa-4x"><span class="txt-dyellow">We Serve</span> Fresh Every Day</h1>
      <button class="btn custom-btn">Discover More</button>
    </div>
  </div>
</section>
<section class="mt-5 mb-5 o-hidden">
  <div class="row justify-content-center">
    <div class="col-sm-12 text-center">
      <h2 class="mb-4">What’s Your <span class="txt-pink">Occasion</span></h2>
    </div>
  </div>
  <div class="d-flex justify-content-center events">
    <div class="mr-1">
      <img class="img-fluid" src="assets/images/eve-1.png">
      <h6 class="m-0 p-2 p-yellow">Birthday</h6>
    </div>
    <div class="mr-1">
      <img class="img-fluid" src="assets/images/eve-2.png">
      <h6 class="m-0 p-2 p-yellow">Anniversary</h6>
    </div>
    <div class="mr-1">
      <img class="img-fluid" src="assets/images/eve-3.png">
      <h6 class="m-0 p-2 p-yellow">Wedding</h6>
    </div>
    <div class="mr-1">
      <img class="img-fluid" src="assets/images/eve-4.png">
      <h6 class="m-0 p-2 p-yellow">Achievement</h6>
    </div>
    <div>
      <img class="img-fluid" src="assets/images/eve-5.png">
      <h6 class="m-0 p-2 p-yellow">Others</h6>
    </div>
  </div>

</section>
<section class="p-box pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 text-center">
        <h3 class="mb-4">pirajee's <span class="txt-pink">featured products</span></h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="stat pl-2 position-relative main mt-5">
          <div class="align-items-center d-flex justify-content-between">
            <div>
              <h5>Black Forest Round Small</h5>
            </div>
          </div>
          <div class="align-items-center d-flex justify-content-between">
            <div>
              <h5>Black Forest Round Large</h5>
            </div>
          </div>
          <div class="align-items-center d-flex justify-content-between">
            <div>
              <h5>Black Forest Square Large</h5>
            </div>
          </div>
          <div class="align-items-center d-flex justify-content-between">
            <div>
              <h5>Black Forest Round Large</h5>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<section class="order-box pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 text-center">
        <h3 class="mb-4">Recent <span class="txt-pink">Orders</span></h3>
      </div>
    </div>
    <div class="row ">

      <div class="col-sm-12 text-center">
        <div id="map" class="mb-5 maps" style="width: 100%; height: 500px;"></div>

        <div class="align-items-center flex-wrap d-flex justify-content-center mt-n-h position-relative">
          <div class="sec-1 p-2 rounded">
            <p class="h3">432</p>
            <hr>
            <span>Orders Delivered</span>
          </div>
          <div class="sec-2 p-2 rounded">
            <p class="h3">232</p>
            <hr>
            <span>Happy Customers</span>
          </div>
          <div class="sec-3 p-2 rounded">
            <p class="h3">32</p>
            <hr>
            <span>Locations</span>
          </div>
          <div class="sec-4 p-2 rounded">
            <p class="h3">42</p>
            <hr>
            <span>Stores Located</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order-box pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 text-center">
        <h3 class="mb-4">What world says <span class="txt-pink">about pirajee’s</span></h3>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-4 col-md-6 col-sm-12 p-0">
        <div class="text-center cus p-4 h-100">
          <h3>Customer’s <span class="txt-pink">Speak</span></h3>
          <p  class="text-capitalize">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here’.</p>
          <img src="assets/images/user.png">
          <h6 class="mb-0">Customer Name</h6>
          <p class="mb-0">-Location</p>
        </div>
      </div>
      <div class=" col-lg-4 col-md-6 col-sm-12 p-0">
        <div class=" blog p-4">
          <h3 class="text-white text-center">Blogs</h3>
          <hr class="bg-white mb-1 mt-1">
          <a href="#" class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
          <hr class="bg-white  mb-1 mt-1">
          <a href="#" class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
          <hr class="bg-white mb-1 mt-1">
          <a href="#" class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
          <hr class="bg-white  mb-1 mt-1">
          <a href="#" class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
          <hr class="bg-white m-0">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 p-0">
        <div class="cus p-4 h-100">
          <h3 class="text-center ">Social <span class="txt-pink">Media</span></h3>
          <div class="bg-white">
            <img class="img-thumbnail" src="assets/images/cut-cake.png">
            <p  class="text-capitalize mb-0 p-2"><small>Best Cake ever. Made my day… #birthdaycake #designer #cakelover<br>
              <i class="fa fa-instagram"></i> Customer Name</small></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="lst-banner dark pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center text-center">

      <div class="col-sm-8">
        <div class="mt-3">
          <div>
            <h2>contact us</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Mobile Number/Email">
                </div>
              </div>
            </div>
            <button class="btn custom-btn-black">Submit</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
